.sd-from-search{
    margin-top:1.875rem;
    margin-left:1.875rem;
    margin-right:1.875rem;
}
.sd-from-search input{
    height:3.125rem;
}
.sd-margin{
    margin-left:1.875rem;
    margin-right:1.875rem;
}
.sd-list-group{
    margin-left:1.875rem;
    margin-right:1.875rem;
}
.list-group-item{
    font-size:0.875rem;
}
.list-group-item img{
     width: 3.125rem;
     height:  3.125rem;
}
.sd-h-25{
    height:1.5625rem;
    line-height: 1.5625rem;
}
.sd-h-80{
    height:5rem;
    line-height:5rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.sd-search-center{
    text-align: center;
}